<!-- <app-buttontype></app-buttontype> -->
<!-- <app-badges></app-badges>-->
<!-- <app-progress-bar></app-progress-bar> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-menu></app-menu> -->
<!-- <app-display-claas-text></app-display-claas-text> -->
<!-- <app-list></app-list> -->
<!-- <app-grid-list></app-grid-list> -->
<!-- <app-expansion-panels></app-expansion-panels> -->
<!-- <app-cards></app-cards> -->
<!-- <app-tabs></app-tabs> -->
<!-- <app-stepper></app-stepper> -->
<!-- <app-input></app-input> -->
<!-- <app-select></app-select> -->
<!-- <app-auto-complete></app-auto-complete> -->
<!-- <app-check-boxradio-button></app-check-boxradio-button> -->
<!-- <app-date-piker></app-date-piker> -->
<!-- <app-tooltip></app-tooltip> -->
<!-- <app-snackbar></app-snackbar> -->
<!-- <app-dilogbox></app-dilogbox> -->
<div id="menu-outer">
  <div class="table">
    <ul id="horizontal-list">
      <button mat-raised-button color="warn"><a routerLink="auto-Complete">AutoComplete</a></button>
      <button mat-raised-button color="warn"><a routerLink="badges">badges</a></button>
      <button mat-raised-button color="warn"><a routerLink="buttontype">buttontype</a></button>
      <button mat-raised-button color="warn"><a routerLink="cards">cards</a></button>
      <button mat-raised-button color="warn"><a routerLink="checkbox-radio">checkbox-radio</a></button>
      <button mat-raised-button color="warn"><a routerLink="datepicker">datepicker</a></button>
      <button mat-raised-button color="warn"><a routerLink="dialog">dialog</a></button>
      <button mat-raised-button color="warn"><a routerLink="display">display</a></button>
      <button mat-raised-button color="warn"><a routerLink="expansion">expansion</a></button>
      <button mat-raised-button color="warn"><a routerLink="grid">grid</a></button>
      <button mat-raised-button color="warn"><a routerLink="input">input</a></button>
      <button mat-raised-button color="warn"><a routerLink="list">list</a></button>
      <button mat-raised-button color="warn"><a routerLink="menu">menu</a></button>
      <button mat-raised-button color="warn"><a routerLink="navbar">navbar</a></button>
      <button mat-raised-button color="warn"><a routerLink="progress">progress</a></button>
      <button mat-raised-button color="warn"><a routerLink="select">select</a></button>
      <button mat-raised-button color="warn"><a routerLink="snackbar">snackbar</a></button>
      <button mat-raised-button color="warn"><a routerLink="Stepper">Stepper</a></button>
      <button mat-raised-button color="warn"><a routerLink="tabs">tabs</a></button>
      <button mat-raised-button color="warn"><a routerLink="tooltip">tooltip</a></button>
    </ul>
  </div>
</div>

<hr>
<!-- <app-tooltip></app-tooltip> -->

<router-outlet></router-outlet>
